@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

html{
    cursor: pointer;
    
}

body{
    background-color: rgb(179, 60, 101);
    font-family: 'Fredericka the Great', cursive;
    
}

a{
    text-decoration: none;
    
}
a:visited{
    color: teal;
}

h2{
    background-color: palegoldenrod;
    text-align: center;
    border-radius: 5px;
    text-shadow: 10px 5px 5px rgb(179, 60, 101);
}

#navigation{
    border: 1px solid white;
}
.nav-functions{
    padding: 5px;
    text-align: center;
    margin: 3px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:white;
}

#header{
    
    display: grid;
    grid-template-columns: auto auto;
    background-color: palegoldenrod;
    height: 250px;
    width: 90%;
    margin: 20px auto;
    font-weight: bold;
    border-radius: 10px;
}

#header-content{
    border-radius: 10px;
    margin: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#main-body{
    background-image: url(/images/dice.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    border-radius: 5px;
    height: 350px;
    width: 80%;
    margin: 20px auto;
}

#main-container{
    display: grid;
    grid-template-columns: 70% 30%;
    background-color:teal;
    height: 450px;
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    border-right: 5px solid black;
    border-left: 5px  black;
    
}

#game-container{
    background-color: white;
    border: 1px solid black;
    width: 95%;
    margin: 0 auto;
    box-shadow: 10px 10px 5px black;
    border-radius: 5px;
    
}



.button-area1{
    text-align: center;
    background-color: white;
    border: 1px solid black;
    margin-top: 30px;
    height: 80px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 5px 10px 5px black;
}

.game-content{
    margin: 10px auto;
    padding: 10px;
    height: 20%;
    background-color:palegoldenrod;
    border: 1px solid black;
    width: 50%;  
}


img:hover{
    float: right;
    transition: linear;
}


#play{
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px;
    border-radius: 5px;
    background-color: rgb(179, 60, 101);
    height: 200px;
    
}


.play-content{
    border-left: 2px solid white;
    border-right: 2px solid white;
    margin: 15px;
    height: 150px;
    padding: 5px;
    box-shadow: 1px 15px 15px palegoldenrod;
    
}


.message{
    text-align: center;
}
