body{
    background-color: rgb(179, 60, 101)
}

#header{
    display: grid;
    grid-template-columns: 30% 30% 20%;
    background-color: palegoldenrod;
    height: 250px;
    width: 90%;
    margin: 0 auto;
    font-weight: bold;
    border-radius: 10px;
}

.header-content{
    background-color: teal;
    margin: 20px;
}

#main-body{
    background-color: white;
    border-radius: 5px;
    height: 350px;
    width: 80%;
    margin: 20px auto;
}

#main-container{
    background-color:teal;
    height: 500px;
    width: 90%;
    margin: 0 auto;
}

