@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200&display=swap');
body{
    background-color: lightseagreen;
    font-family: 'Spectral SC', serif;

}

#title-container{
    background-color: salmon;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

#blog-container{
    width: 500px;
    background-color: salmon;
    border: 5px solid black;
    margin: 20px auto;
    width: 80%;
    padding: 10px;
}

.blog-content{
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

#navigation{
    border: 1px solid white;
}
.nav-functions{
    padding: 5px;
    text-align: center;
    margin: 3px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:white;
}
a{
    text-decoration: none;
    color: salmon;
}
