
body{
    background-color: lightseagreen;
}

#title-container{
    background-color: salmon;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

#blog-container{
    background-color: salmon;
    border: 5px solid black;
    margin: 20px auto;
    width: 80%;
    padding: 10px;
}

.blog-content{
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

